/* reset */
html,body,form,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,fieldset,th,td,button{margin:0;padding:0;border:0;font:inherit;font-size: 1.6rem;}
html,body{font-size:10px !important; overflow-x: hidden;}
body{-webkit-text-size-adjust:none;font-family:'Apple SD Gothic Neo','AppleGothic','Apple Gothic','-apple-system','NotoSansKR', sans-serif;font-weight:400;color:#fff !important;word-break:keep-all;background:#141414;letter-spacing:0px;width:100%;overflow-x:hidden;overflow-y:hidden;}
input,textarea,select,button{font:inherit;vertical-align:middle;padding:0;margin:0;color:#fff;font-family:'Apple SD Gothic Neo','AppleGothic','Apple Gothic','-apple-system','NotoSansKR',sans-serif;}
.btn{font-family: 'NotoSansKR', sans-serif;}
.ios .btn{font-family:'Apple SD Gothic Neo','AppleGothic','Apple Gothic','-apple-system';}
input[type="button"]:hover, input[type="submit"]:hover {cursor:pointer;}
textarea{resize:none;overflow:auto;-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0;}
table{width:100%;border-collapse:separate;border-spacing:0;}
ul,ol,li {list-style-type:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;}
img,fieldset,iframe{border:none;}
address,cite,code,dfn,em,var,th,strong{font-style:normal;font-weight:400;}
a, a:active, a:hover{text-decoration:none;color:inherit;font-weight:400; outline:0;}
//a:hover{cursor:pointer !important;}
article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block;}
caption, legend {height:0;width:0;line-height:0;font-size:0;overflow:hidden;visibility:hidden;display:none;-webkit-padding-start:0;-webkit-padding-end:0;}
button{background:transparent;cursor:pointer;letter-spacing:0px;}
iframe{border:0;}
input::-ms-reveal,
input::-ms-clear{display:none;}
::-webkit-input-placeholder{color:#fff;}
::-moz-placeholder{color:#fff;}
::placeholder{color:#fff !important;opacity:1 !important;font-weight:400;font-family:'Apple SD Gothic Neo','AppleGothic','Apple Gothic','-apple-system','NotoSansKR',sans-serif;}
:-ms-input-placeholder{color:#fff !important;opacity:1 !important;font-weight:400;font-family:'Apple SD Gothic Neo','AppleGothic','Apple Gothic','-apple-system','NotoSansKR',sans-serif;}
img{border:none;vertical-align:top;}
select{background:transparent;}
input {-webkit-appearance:none;-moz-appearance:none;appearance:none;background-color: transparent;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week]{border:0; padding:0; margin:0;}
label{cursor:pointer;}

/*링크 outline 삭제*/
a:focus{outline:0 !important;}
input:focus{outline:0 !important;}