.mv__con {
    width: 100%;
    padding: 0 4vw;
    box-sizing: border-box;
    margin-bottom: 60px;
    .con__title {
        display: inline-block;
        cursor: pointer;
        margin-bottom: 14px;
        position: relative;
        h3 {
            display: inline;
            font-size: 26px;
            font-weight: 700;
            padding-right: 14px;
        }
        .all-view {
            display: flex;
            align-items: center;
            font-size: 14px;
            padding: 10px 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -20px;
            transition: all 0.4s;

            .all {
                display: inline-block;
                box-sizing: border-box;
                line-height: 10px;
                transform: translateX(-100px);
                opacity: 0;
                margin-right: 4px;
                transition: all 0.4s;

            }
            .ico-arrow-right {
                width: 22px;
                height: 22px;
                @include hidden;
                transition: all 0.3s;
            }
        }
        // 제목 오버
        &:hover {
            .all-view {
                right: -85px;
                transition: all 0.4s;

                .all {
                    // max-width: 100px;
                    transform: translateX(0);
                    opacity: 1;
                    transition: all 0.4s;
                }
            }
        }
    }
    // 전체영역 오버
    &:hover {
        .all-view {
            .ico-arrow-right {
                @include visible;
                transition: all 0.3s;
            }
        }
    }
    .swiper-container {
        width: 100%;
        position: relative;
        overflow: visible;
    }
    // .swiper-wrapper {
    // }
    .swiper-slide {
        transition: all 0.3s ease 0.2s;
        position: relative;
        &.left {
            .hover_el {
                transform: translate(0, -50%) !important;
                left: 0 !important;
                right: unset;
            }
        }
        &.right {
            .hover_el {
                transform: translate(0, -50%) !important;
                right: 0 !important;
                left:unset;
            }
        }
        .thumb {
            border-radius: 6px;
            overflow: hidden;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        .hover_el {
            width: 100%;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            background-color: #333;
            z-index: 100;
            border-radius: 10px;
            @include hidden;
            transition: all 0.2s;
            overflow: hidden;
            .thumb {
                overflow: hidden;
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            .info-box {
                padding: 5%;
                .title {
                    font-size: 24px;
                    font-weight: 700;
                    margin-bottom: 10px;
                }
                button {
                    margin-right: 2px;
                }
            }
        }
        &:hover {
            .hover_el {
                width: 130%;
                @include visible;
                transition: all 0.35s 0.2s;
            }
        }
        &.loading {
            margin-right: 10px !important;
            @keyframes load1 {0% {opacity: 1;}100% {opacity: 0; transition-delay: 1s;}}
            @keyframes load2 {0% {opacity: 0.7;}100% {opacity: 0; transition-delay: 2s;}}
            @keyframes load3 {0% {opacity: 0.4;}100% {opacity: 0; transition-delay: 3s;}}
            @keyframes load4 {0% {opacity: 0.2;}100% {opacity: 0; transition-delay: 4s;}}
            &:nth-child(1){
                animation: load1 1.5s ease infinite;
            }
            &:nth-child(2){
                animation: load2 1.5s ease infinite;
            }
            &:nth-child(3){
                animation: load3 1.5s ease infinite;
            }
            &:nth-child(4){
                animation: load4 1.5s ease infinite;
            }
        }
    }
    
    // top10 랭킹
    &.type1 {
        .swiper-slide {
            position: relative;
            a {
                .thumb {
                    width: 55%;
                    margin-left: 45%;
                }
            }
            &::before {
                display: inline-block;
                font-family: "roboto";
                font-size: 15vw;
                font-weight: 700;
                -webkit-text-stroke-width: 4px;
                -webkit-text-stroke-color: rgba($color: #fff, $alpha: 0.3);
                color: transparent;
                position: absolute;
                letter-spacing: -50px;
                transform: translateY(-50%);
                top: 50%;
                left: 5%;
                z-index: -1;
                @include mq(1240px){
                    font-size: 26vw;
                }
                @include mq(680px){
                    font-size: 40vw;
                }
            }
            &:nth-child(1)::before {content: "1";}
            &:nth-child(2)::before {content: "2";}
            &:nth-child(3)::before {content: "3";}
            &:nth-child(4)::before {content: "4";}
            &:nth-child(5)::before {content: "5";}
            &:nth-child(6)::before {content: "6";}
            &:nth-child(7)::before {content: "7";}
            &:nth-child(8)::before {content: "8";}
            &:nth-child(9)::before {content: "9";}
            &:nth-child(10)::before {font-size: 250px;left: -15px;content: "10";}
        }
    }
    .swiper-btn {
        width: 4vw;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 100;
        background-color: rgba($color: #141414, $alpha: 0.5);
        transition: all 0.3s;
        opacity: 0;
        &::after {
            display: inline-block;
            content: "";
            width: 100%;
            height: 100%;
            background-repeat:no-repeat;
            background-size: 2.2vw 2.2vw;
            background-position: center center;
            background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 256 256' height='256px' id='Layer_1' version='1.1' viewBox='0 0 256 256' width='256px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath fill='%23fff' d='M76.8,217.6c0-1.637,0.625-3.274,1.875-4.524L163.75,128L78.675,42.925c-2.5-2.5-2.5-6.55,0-9.05s6.55-2.5,9.05,0 l89.601,89.6c2.5,2.5,2.5,6.551,0,9.051l-89.601,89.6c-2.5,2.5-6.55,2.5-9.05,0C77.425,220.875,76.8,219.237,76.8,217.6z'/%3E%3C/svg%3E");
        }
        &.prev {
            transform: rotate(-180deg);
            left: -4vw;
            &:hover {
                opacity: 1;
                transition: all 0.3s;
            }
            &[aria-disabled="true"] {
                &::after {
                    opacity: 0.25;
                }
            }
        }
        &.next {
            right: -4vw;
            &:hover {
                opacity: 1;
                transition: all 0.3s;
            }
            &[aria-disabled="true"] {
                &::after {
                    opacity: 0.25;
                }
            }
        }
    }
}
