@import "@/assets/scss/mixin";

#content {
    &.login, &.join {
        width: 100%;
        height: 100vh;
        min-height: 800px;
        position: relative;
        .bg{
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("~@/assets/img/home-bg.jpg");
        }
        .login-box {
            width: 450px;
            // min-width: 500px;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            background-color: rgba($color: #000, $alpha: 0.7);
            border-radius: 12px;
            padding: 46px 40px;
            box-sizing: border-box;
            h2 {
                font-size: 2.6rem;
                font-weight: 700;
                margin-bottom: 30px;
                text-align: center;
            }
            .tit {
                font-size: 14px;
                margin-bottom: 8px;
                color: #aaa;
            }
            .alert_txt {
                font-size: 14px;
                display: block;
                margin-top: 5px;
            }
            .input-wrap {
                margin-bottom: 18px;
                &:last-child {
                    margin-bottom: 0;
                }
                input {
                    width: 100%;
                    height: 46px;
                    background-color: #333;
                    border-radius: 5px;
                    box-sizing: border-box;
                    padding: 8px 16px;
                    &::placeholder {
                        color: rgba($color: #fff, $alpha: 0.3) !important;
                        font-size: 15px;
                    }
                    &.password {
                        padding-right: 76px;
                    }

                }
                .pass-btn {
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                    right: 16px;
                    color: rgba($color: #fff, $alpha: 0.5) !important;
                    font-size: 14px;
                    display: none;
                }
            }
            .btn-wrap {
                margin-top: 36px;
                font-weight: 500;
            }
        }
        .before-sign-up {
            text-align: center;
            padding-top: 30px;
            border-top: 1px solid rgba($color: #fff, $alpha: 0.3);
            margin-top: 40px;
            p {font-size: 15px;}
            a {
                color: rgb(255, 0, 0);
                font-weight: 700;
                margin-left: 3px;
            }
        }

        @include mq(sm){
            padding: 0 4vw;
            box-sizing: border-box;
            .bg{
                width: 100vw;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
            .login-box {
                width: calc(100% - 8vw);
                padding: 40px 26px;
            }
        }
    }
}
